 div{
            border: 1px solid black;
            padding: 5px
        }

body {
  margin: 0;
  padding: 0;
} 
.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: lightskyblue;
        padding: 5px;
        margin: auto;
}

#left {
       display: flex;
       border: 0px;
       font-size: large;
       gap: 20px ;
            
}

#right {
    display: flex;
    flex-direction: row;
    border: 0px;
    gap: 10px;
    padding-top: 2px;
}


button{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 8px 16px;
    border: 0;
    border-radius: 10px;
    background-color: antiquewhite;
}
