header{
    text-align: center;
}



.contain {
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(3, 500px);
    grid-auto-rows: 500px;
    gap: 16px;
    grid-auto-flow: dense;
}

.child {
    border: 1px dashed;
    overflow: auto;
}

.item4 {
    grid-row: 2;
    grid-column: 1/3;
}

.item7 {
    grid-row: 3;
    grid-column: 2/4;
}

.child img {
  width: 100%;
  height: 100%;
}