* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


header{
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    text-shadow: 0 4px 8px;
    color: beige;
    padding: 20px;
    background-color: #4f6a67;
}

body{
    background-color: #181818;
}

.contain {
    border: 10px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(3, 600px);
    grid-auto-rows: 600px;
    gap: 15px;
    grid-auto-flow: dense;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 50px;
    padding-bottom: 100px;
    background-color: #6f5a4e;
}

.child {
    border: 4px;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #e8bfa8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 4px 8px rgba(0,0,0,35);
    color: #eaeaea;
}

.child > div{
    height: 480px;
    overflow: hidden;
    
}

.child img {
  width: 100%;
  height: 100%;
  object-fit: cover;        /* fill image box cleanly */
}


.item4 {
    grid-row: 2;
    grid-column: 1/3;
}

.item7 {
    grid-row: 3;
    grid-column: 2/4;
}

