header{
    text-align: center;
    font-family: monospace;
    font-size: larger;
}

.contain {
    border: 10px solid black;
    display: grid;
    grid-template-rows: repeat(3, 500px);
    grid-auto-rows: 500px;
    gap: 20px;
    grid-auto-flow: dense;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 50px;
    padding-bottom: 200px;
    background-color: rgba(155, 118, 118, 0.76);
}

.child {
    border: 4px dashed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(116, 183, 183);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.child > div{
    height: 500px;
    overflow: hidden;
}

.child img {
  width: 100%;
  height: 100%;
  object-fit: cover;        /* fill image box cleanly */
}


.item4 {
    grid-row: 2;
    grid-column: 1/3;
}

.item7 {
    grid-row: 3;
    grid-column: 2/4;
}

