* {
    box-sizing: border-box;
}

.parent {
  list-style: none;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 1px;
  padding-left: 60px;
  background-color: #0e1013;

}

.last-movie {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
}

.child img {
  width: 60%;
  height: 300px;

}