header{
    background-color: rgba(237, 22, 237, 0.133);
    padding: 20px;
 }
 
 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: brown;
    text-shadow: 0 1px 1px;
    text-align: center;
 }

body{
    margin: 0;
    background-color: azure;
}

#top10{
    background-color:cadetblue;
    padding: 3px;
}

#top{
    justify-content: flex-start;
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 0;
    margin: 10px;
    list-style: none;
}

.child img{
    height: 400px;
    width: 300px;
    object-fit: cover;

}