* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 30px 20px;
    background-color: #fdf6f0;
    border-bottom: 3px solid #c53030;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

}


#todo-input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

#add-btn{
    padding: 10px 20px;
    margin-left: 10px;
}

#add-btn:hover{
    cursor: pointer;
    background-color: lightgray;
}

#clear-all{
    padding: 10px 20px;
}

#clear-all:hover{
    cursor: pointer;
    background-color: lightgray;
}

#todo-items-container{
    margin-top: 30px;
    text-align: center;
}

#todo-items-container li{
    margin-bottom: 10px;
}

#todo-items-container li button {
    padding: 3px 5px;
    cursor: pointer;
    margin-left: 20px;
}

